.alert_container
{
    position:absolute;
    bottom:20%;
    z-index:101;
    width:100%;
    text-align:center;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.5s ease 0s;
}
.alert_container.visible
{
    visibility:visible;
    opacity:1;
}
.alert
{
    width:70%;
    margin:auto;
    font-size:1.5rem;
    white-space:normal;
    line-height:1.4em;
    padding:1rem;
    background:#ebebeb;
    color:#333;
    border:1px solid white;
    text-align:center;
    overflow:hidden;
    text-overflow:ellipsis;
}
.alert_container.visible.error .alert
{
    color:red;
    border:1px solid red;
}
p.alert_sub
{
    margin-top:1rem;
    padding-top:0.4rem;
    font-size:1.3rem;
    border-top:1px solid white;
    line-height:1.7rem;
    white-space:normal;
}
