.selector
{
    position:fixed;
    top:0rem;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    background:#fff;
}
.selector h2
{
    height:5rem;
    line-height:5rem;
    background:#298bee;
    color:#fff;
    font-size:1.5rem;
    padding-right:6.7rem;
    padding-left:1.7rem;
    text-align:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.selector_inner
{
    position:absolute;
    top:5rem;
    bottom:0px;
    left:0px;
    right:0px;
    overflow-x:hidden;
    overflow-y:scroll;
}
.selector .description,
.selector .selector_extra,
.selector .selector_currentpath,
.selector .selector_select,
.selector .selector_refresh
{
    width:100%;
    overflow:hidden;
    font-size:1.3rem;
    line-height:2.3rem;
    padding:1rem 2rem;
    text-align:left;
}

.selector ul
{
    overflow:hidden;
    text-align:left;
    width:95%;
    margin:auto;
}
.selector_picker ul
{
    margin-bottom:7rem;
}
.selector li
{
    list-style:none;
    text-transform:uppercase;
    font-size:1.6rem;
    line-height:3.5rem;
    margin:0.5rem 1rem;
    text-align:left;
    display:block;
    background:#ebebeb;
    color:#333;
    padding:0.5rem 1rem;
}
.selector_picker li,
.selector_menu li,
.selector_gallery li
{
    width:48%;
    font-size:1.3rem;
    margin:1%;
    display:inline-block;
    line-height:2.6rem;
    vertical-align:top;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    text-align:center;
}
.selector_menu li,
{
    width:31.3333%;
}

.selector li:before
{
    display:inline-block;
    width:5rem;
    text-align:center;
}

.selector_picker li:before,
.selector_menu li:before
{
    display:block;
    width:auto;
    font-size:1.6rem;
}
.selector .selector_close
{
    position:absolute;
    right:0px;
    top:0px;
    color:#fff;
    line-height:5rem;
    padding:0px 1.6rem 0px 1.6rem;
}
.selector .selector_close:before
{
    display:inline-block;
    width:3rem;
    text-align:center;
}


.selector dl
{
    font-size:0px;
    white-space:nowrap;
    margin:0.9rem 0px;
}
.selector dt
{
    font-size:1.2rem;
    display:inline-block;
    vertical-align:top;
    white-space:normal;
    line-height:1.2em;
    width:45%
}
.selector dd
{
    font-size:1.2rem;
    display:inline-block;
    vertical-align:top;
    white-space:normal;
    line-height:1.2em;
    width:55%
}

#thumb_preview
{
    margin-top:2rem;
    width:100%;
    padding-top:50%;
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
}

.selector .selector_select,
.selector .selector_refresh
{
    width:93%;
    line-height:3rem;
    background:#333;
    color:#fff;
    margin:1% auto;
}
.selector .selector_refresh
{
    position:fixed;
    z-index:2;
    width:100%;
    bottom:0px;
}
.selector .selector_select span,
.selector .selector_refresh span
{
    display:inline-block;
    margin-left:1rem;
    margin-right:1rem;
}

.selector_gallery .description
{
    padding:0px;
}
.selector_gallery ul
{
    position:fixed;
    top:5rem;
    width:100%;
    bottom:0px;
}
.selector_gallery ul
{
    position:absolute;
    text-align:center;
    top:auto;
    bottom:0px;
    height:4rem;
    width:100%;
    background:rgba(255,255,255,0.5);
}
.selector_gallery li
{
    width:7rem;
    background:transparent;
}
.selector_gallery li::before
{
    font-size:1.7rem;
}

#big_image
{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:#fff;
    background-size:100%;
    background-position:center center;
    background-repeat:no-repeat;
}
#big_image.loading
{
    background-size:30px;
    background-image:url(../../img/loading.gif);
}


.sync_item
{
    margin:1rem 0rem;
    background:#e0e0e0;
    padding:0.3rem 1rem;
}

.queue_selector ul
{
    margin-bottom:1.7rem;
}
.queue_selector ul
{
    width:auto;
}
.queue_selector li
{
    font-size:1.2rem;
    text-transform:none;
    line-height:2rem;
    padding:0.2rem 0rem;
    margin:0px;
    background:none;
}
.queue_current li
{
    color:#000;
}
.queue_done li
{
    color:#000;
}
.queue_next li
{
    color:#555;
}
.clear_next
{
    margin:1rem 0rem 3rem;
}
.queue_selector .fa
{
    display:inline-block;
    padding-right:1rem;
}
.queue_selector .queue_section
{
    margin-top:2rem;
    margin-bottom:1rem;
    background:#ebebeb;
    padding:0.2rem 1rem;
}
.queue_selector li.queue_ok
{
    color:green;
}
.queue_selector li.queue_ko
{
    color:red;
}
