<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= name %></title>
        <meta name="description" content="<%= description %>">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/app.css">

        <!-- External / Tool librairies -->
        <script type="text/javascript" src="js/libs/Promise.js" defer></script>
        <script type="text/javascript" src="js/libs/l10n.js" defer></script>
        <script type="text/javascript" src="js/libs/l10n_placeholders.js" defer></script>
        <script type="text/javascript" src="js/libs/resize.js" defer></script>


        <!-- add Tools --> 
        <script type="text/javascript" src="js/tools/clone.js" defer></script>

        <!-- App librairies --> 
        <script type="text/javascript" src="js/modules/customactivity.js" defer></script>
        <script type="text/javascript" src="js/modules/vibrate.js" defer></script>
        <script type="text/javascript" src="js/modules/notif.js" defer></script>
        <script type="text/javascript" src="js/modules/sync.js" defer></script>
        <script type="text/javascript" src="js/modules/online.js" defer></script>
        <script type="text/javascript" src="js/modules/sdcard.js" defer></script>
        <script type="text/javascript" src="js/modules/selector.js" defer></script>
        <script type="text/javascript" src="js/modules/accounts.js" defer></script>
        <script type="text/javascript" src="js/modules/files.js" defer></script>
        <script type="text/javascript" src="js/modules/settings.js" defer></script>
        <script type="text/javascript" src="js/modules/gallery.js" defer></script>
        <script type="text/javascript" src="js/modules/queue.js" defer></script>

        <!-- Implementatinons -->
        <script type="text/javascript" src="js/apis/apiprot.js" defer></script>
        <script type="text/javascript" src="js/apis/internal.js" defer></script>
        <script type="text/javascript" src="js/apis/webdav.js" defer></script>
        <script type="text/javascript" src="js/apis/ftp.js" defer></script>
        <script type="text/javascript" src="js/apis/onedrive.js" defer></script>
        <script type="text/javascript" src="js/apis/dropbox.js" defer></script>
        <script type="text/javascript" src="js/apis/box.js" defer></script>
        <script type="text/javascript" src="js/apis/google.js" defer></script>

        <!-- Main initialisation -->
        <script type="text/javascript" src="js/app.js" defer></script>

        <link rel="prefetch" type="application/l10n" href="data/locales.ini" />

    </head>
    <body role="application">

        <div class="accounts">
            <div class="header">
                <button class="button_right goto_settings"><span class="fa fa-gear"></span></button>
                <p class="section_title" data-l10n-id="accounts_list"></p>
            </div>
            <div class="accounts_list">
                <ul>
                </ul>
                <p class="new_account">
                <span class="fa fa-plus"></span>
                <span data-l10n-id="add_account"></span>
                </p>
            </div>
        </div>

        <div class="picker">
        </div>
        <div class="alert_container">
            <div class="alert"></div>
        </div>
        <div class="files">
            <div class="upload_btn hidden"><span class="button_text button_text_force" data-l10n-id="upload_here"></span></div>

            <div class="header">
                <button class="button_left goto_accounts"><span class="fa fa-home"></span></button>
                <button class="button_right goto_queue"><span class="fa fa-download"></span></button>
                <p class="section_title" data-l10n-id="app_title"></p>
            </div>
            <div class="files_ariane">
            </div>
            <div class="files_sync">
            </div>
            <ul class="files_container">
            </ul>
            <div class="center_menu with_labels center_menu_all">
                <span class="add_btn fa fa-plus disabled"><span class="button_text" data-l10n-id="menu_add"></span></span>
                <span class="update_btn fa fa-refresh"><span class="button_text" data-l10n-id="menu_refresh"></span></span>
                <span class="search_btn fa fa-search"><span class="button_text" data-l10n-id="menu_search"></span></span>
                <span class="sync_btn fa fa-cloud-upload"><span class="button_text" data-l10n-id="menu_sync"></span></span>
                <span class="more_btn fa fa-check-square-o"><span class="button_text" data-l10n-id="menu_selection"></span></span>
            </div>
        </div>

        <div class="settings">
            <div class="header">
                <button class="button_right goto_accounts"><span class="fa fa-close"></span></button>
                <p class="section_title" data-l10n-id="settings"></p>
            </div>

            <div class="settings_content">
                <fieldset class="toggle">
                    <legend class="fa fa-cogs" data-l10n-id="ui_settings"></legend>
                    <form>

                        <p class="line_select">
                            <label for="lang" data-l10n-id="lang"></label>
                                <select class="lang" id="lang">
                                        <option value="en-US">English</option>
                                        <option value="es">Español</option>
                                        <option value="fr">Français</option>
                                        <option value="ru-RU">русский</option>
                                </select>
                        </p>
                        <p class="line_checkbox">
                            <span class="show_details fa fa-toggle-off" id="show_details"></span>
                            <label for="show_details" data-l10n-id="show_details"></label>
                        </p>
                        <p class="line_checkbox">
                            <span class="show_thumbnails fa fa-toggle-off" id="show_thumbnails"></span>
                            <label for="show_thumbnails" data-l10n-id="show_thumbnails"></label>
                        </p>

                        <p class="line_checkbox">
                            <span class="show_labels fa fa-toggle-off" id="show_labels"></span>
                            <label for="show_labels" data-l10n-id="show_labels"></label>
                        </p>

                        <p class="line_checkbox">
                            <span class="click_vibrate fa fa-toggle-off" id="click_vibrate"></span>
                            <label for="click_vibrate" data-l10n-id="click_vibrate"></label>
                        </p>

                    </form>
                </fieldset>

                <fieldset class="toggle">
                    <legend class="fa fa-cloud" data-l10n-id="sync_settings"></legend>
                    <form>
                        <p class="line_checkbox">
                            <span class="enable_sync fa fa-toggle-off" id="enable_sync"></span>
                            <label for="enable_sync" data-l10n-id="enable_sync"></label>
                        </p>
                        <p class="line_select">
                            <label for="sync_time" data-l10n-id="sync_time"></label>
                                <select class="sync_time" id="sync_time">
                                    <option value="60" data-l10n-id="sync_60"></option>
                                    <option value="300" data-l10n-id="sync_300"></option>
                                    <option value="600" data-l10n-id="sync_600"></option>
                                    <option value="1800" data-l10n-id="sync_1800"></option>
                                    <option value="3600" data-l10n-id="sync_3600"></option>
                                    <option value="21600" data-l10n-id="sync_21600"></option>
                                    <option value="43200" data-l10n-id="sync_43200"></option>
                                    <option value="86400" data-l10n-id="sync_86400"></option>
                                </select>
                        </p>
                    </form>
                </fieldset>

                <fieldset class="toggle">
                    <legend class="fa fa-cogs" data-l10n-id="cache_settings"></legend>
                    <form>
                        <p class="line_checkbox">
                            <span class="enable_cache fa fa-toggle-off" id="enable_cache"></span>
                            <label for="enable_cache" data-l10n-id="enable_cache"></label>
                        </p>
                        <p class="line_select">
                            <label for="cache_location" data-l10n-id="cache_location"></label>
                                <select class="cache_location" id="cache_location">
                                </select>
                        </p>
                        <p><a href="#" id="clear_cache" class="bb-button bb-recommend" data-l10n-id="clear_cache"></a></p>

                    </form>
                </fieldset>

                <fieldset class="toggle">
                    <legend class="fa fa-bell" data-l10n-id="notif_settings"></legend>
                    <form>
                        <p class="line_checkbox">
                            <span class="view_notification fa fa-toggle-off" id="view_notification"></span>
                            <label for="view_notification" data-l10n-id="view_notification"></label>
                        </p>

                    </form>
                </fieldset>


                <fieldset class="toggle">
                    <legend class="fa fa-wrench" data-l10n-id="advanced_settings"></legend>
                    <form>
                        <p class="line_input">
                            <label for="recent_time" data-l10n-id="recent_time"></label>
                            <span class="">
                                <input class="recent_time" id="recent_time">
                            </span>
                            <span class="valid warn_message" id="invalid_recent_time" data-l10n-id="invalid_recent_time"></span>
                        </p>
                    </form>
                </fieldset>

                <fieldset class="toggle">
                    <legend class="fa fa-info-circle" data-l10n-id="about"></legend>
                    <form>
                        <dl>
                            <dt data-l10n-id="about_version"></dt>
                            <dd id="version"><%= version %></dd>
                        </dl>
                        <dl>

                            <dt data-l10n-id="about_author"></dt>
                            <dd><a target="_blank" href="http://tfeserver.be"><%= developer.name %></a></dd>
                        </dl>

                        <dl>

                            <dt data-l10n-id="about_url"></dt>
                            <dd><a target="_blank" href="<%= developer.url %>" data-l10n-id="about_github"></a></dd>
                        </dl>

                        <dl>

                            <dt data-l10n-id="ru_translation"></dt>
                            <dd>Petr Georya</dd>
                        </dl>

                        <p><a href="mailto:tfe@tfeserver.be?subject=Tfe-Drive%20Bug%20Report%20<%= version %>" target="_blank" class="bb-button bb-recommend" data-l10n-id="about_report"></a></p>
                        <p><a href="https://marketplace.firefox.com/app/tfe-drive/" target="_blank" class="bb-button bb-recommend" data-l10n-id="rate_app"></a></p>
                        <p><a href="http://paypal.me/tfeserver" target="_blank" class="bb-button bb-grey" data-l10n-id="donate"></a></p>
                        <p><a href="#" id="open_changelog" class="bb-button bb-grey" data-l10n-id="open_changelog"></a></p>
                    </form>
                </fieldset>
            </div>

        </div>
    </body>
</html>
